@{
    ViewData["Title"] = "Access Denied";
}

<div class="container text-center">
    <h1 class="display-4">Access Denied</h1>
    <p class="lead">You do not have permission to access this page.</p>
    <a class="btn btn-primary" href="/">Return to Home</a>
</div>